.markdown-text {
  height: 784px;
  float: left;
  width: 48.5%;
}

.markdown-preview {
  overflow: auto;
  height: 784px;
  float: right;
  width: 48.5%;
}

.row {
  margin-right: 1.5%;
  margin-left: 1.5%;
}